
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login </title>
    <link rel="stylesheet" href="css/signin.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form action="/createsession" method="post">
        <label>Number</label>
        <input type="text" name="number" placeholder="" />
        <label>Password</label>
        <input type="password" name="password" placeholder="" />
        <input type="submit" value="Submit" />
      <closeform></closeform></form>
    </div>
    <p class="para-2">
      Not have an account? <a href="/signup">Sign Up Here</a>
    </p>
  </body>
</html>

