<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/signup.css">
  </head>
  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>It's free and only takes a minute</h4>
      <form action="/createaccount" method="post">
        <label>Name</label>
        <input type="text" name="name" placeholder="" required />
        <label>Mobile Number</label>
        <input type="number" name="number"  placeholder="" required />
        <label> Email </label>
        <input type="email" name="email" placeholder="" />
        <label>Password</label>
        <input type="password" name="password" placeholder=""  required />
        <label>Confirm Password</label>
        <input type="password" name="Cpassword" placeholder="" required />
        <input type="submit" value="Submit" />
      <closeform></closeform></form>
      
    </div>
    <p class="para-2">
      Already have an account? <a href="/signin">Login here</a>
    </p>
  </body>
</html>